@import 'mixin';

.navbar {
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.navbar-brand {
  height: 68px;
  &__img {
    height: 60px;
    width: 60px;
  }

  &__txt {
    color: $brand-primary;
    @include col-md {
      display: inline-block !important;
    }
  }
}

.navbar--top {
  background-color: $white;
  border-bottom: 1px solid $brand-primary;
  height: 70px;
  z-index: 30;
}

.nav-toggler {
  align-items: center;
  color: darken($brand-primary, 10%);
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-left: 20px;
  position: relative;
  width: 70px;
  &:hover {
    color: $brand-primary;
  }
  & > * {
    @include abs-center;
  }
  &__open {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
    .bar1,
    .bar2,
    .bar3 {
      background-color: darken($brand-primary, 20%);
      border-radius: 1.2px;
      height: 3px;
      margin: 4px 0 0;
      transition: .4s;
      width: 32px;
    }
    &:hover {
      .bar1,
      .bar2,
      .bar3 {
        background-color: $brand-primary;
      }
    }
  }
  &__close {
    display: none;
    font-size: 1.2rem;
  }
}

#siteNavCont {
  background: $img-overlay;
  border: 1px solid $brand-primary;
  border-top: 5px solid rgba($brand-secondary, .5);
  display: none;
  margin-top: -4px;
  padding: 15px;
  position: absolute;
  right: 3%;
  top: 100%;
  z-index: $zindex-dropdown;
  .text-link {
    &:link, &:visited {
      color: $white;
    }
  }
  .d-md-none{
    border-top: $border-width solid $white;
    margin-top: 1rem;
  }
}

.navbar--btm {
  background: $white;
  border-top: 1px solid $brand-primary;
  bottom: 0;
  box-shadow: 0 -4px 20px 5px rgba($text-bright, .3);
  flex-wrap: wrap;
  height: 60px;
  left: 0;
  opacity: 0;
  position: fixed;
  z-index: 30;
  @include col-sm-down {
    padding: 0;
    opacity: 0;
  }
}
@include col-sm-down {
  .navbar--btm__item{
    padding-top: 2px;
    padding-bottom: 2px;
  &:first-child .btn, &:first-child .navbar--btm__toggle {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding-left: 2px;
  }
  &:last-child .btn, &:last-child .navbar--btm__toggle {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    padding-right: 2px;
  }
}
}

.to-top {
  bottom: 35px;
  box-shadow: 0 -2px 7px darken($text-color, 20%);
  height: 50px;
  left: 50%;
  line-height: 2;
  position: absolute;
  right: 50%;
  transform: translateX(-50%);
  width: 50px;
}

