// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600"); using link already in html for faster
//
// Bootstrap
@import '../vendor/font-awesome-4.7.0/scss/font-awesome';
@import '~bootstrap/scss/functions';
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import 'reset';
@import 'typography';
@import 'spacing';
@import 'media';
@import 'navbar';
@import 'slides';
@import 'gallery';


html, body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

#app {
  height: 100%;
}

#expand-business-teaser {
  .content {
    padding: 80px;
    @include col-sm-down {
      color: $white;
      padding: 20px;
      .h {
        color: $white;
      }
    }
  }

  // Use with hidden-*-* to hide in certain tiers
  .bg-img {
    @include bg-img(true, bg-compose(url("/images/product-growth-laptop.jpeg")));
  }

  // background image resolve, use it when the normal bg image will not be shown, must be the same with col-* in html class
  // Also remember to make sure there is color compatability between the background and the content. Or use masked or filtered background
  .bg-img-rs {
    @include col-sm-down {
      @include bg-img(true, bg-compose('#{$img-overlay}, ', '') bg-compose(url("/images/product-growth-laptop.jpeg")));
    }
  }
}

.expand-business-teaser-details {
  background-color: $white;
  text-align: center;
  & > div {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  .fa {
    color: $brand-primary;
    height: 4rem;
    font-size: 4rem;
    line-height: 1;
    border-radius: 50%;
  }
}
.media--teaser__txt .h {
  flex: 1;
}

#section__register {
  &, .h {
    color: $text-bright;
  }
      @include bg-img(true, bg-compose('#{$img-overlay}, ', '') bg-compose(url("/images/product-growth-tablet.jpeg")));
}

.section--footer {
  background: lighten($black, 5%);
  color: $text-bright;
  ul {
    list-style: none;
  }
  .text-link, a {
    color: darken($text-bright, 15%);
    padding-top: .3rem;
    padding-bottom: .2rem;
  }
  a:hover {
    text-decoration: underline;
  }
}

.footer-content {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.social-connect {
  display: flex;
  justify-content: space-around;
  @include col-lg {
    flex-direction: column;
  }
  i {
    padding: .2rem;
    border-radius: 30px;
    & + & {
      margin-left: .3rem;
    }
    &:hover {
      color: $white;
      background-color: $gray-800;
    }
  }
}

.social-links-list {
  display: flex;
padding-left: 0;
}

.footer-brand {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 100px;
  .brand__ {
    &img {
      max-height: 100px;
      max-width: 100px;
      object-fit: cover;
    }
    &text {

    }
  }
}

.footer-copyright {
  background-color: $brand-secondary;
  color: $text-bright;
  text-align: center;
  padding: 1rem;
}