// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600"); using link already in html for faster
//
// Bootstrap
@import '../vendor/font-awesome-4.7.0/scss/font-awesome';
@import '~bootstrap/scss/functions';
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import 'reset';
@import 'typography';
@import 'spacing';
@import 'media';
@import 'navbar';
@import 'slides';
@import 'gallery';


html, body {
  height: 100%;
  width: 100%;
}

body {
  overflow-x: hidden;
}

#app {
  height: 100%;
}

#expand-business-teaser {
  .content {
    padding: 80px;
    @include col-sm-down {
      color: $white;
      padding: 20px;
      .h {
        color: $white;
      }
    }
  }

  // Use with hidden-*-* to hide in certain tiers
  .bg-img {
    @include bg-img(true, bg-compose(url("/images/product-growth-laptop.jpeg")));
  }

  // background image resolve, use it when the normal bg image will not be shown, must be the same with col-* in html class
  // Also remember to make sure there is color compatability between the background and the content. Or use masked or filtered background
  .bg-img-rs {
    @include col-sm-down {
      @include bg-img(true, bg-compose(#{'rgba($black, .5), '}, '') bg-compose(url("/images/product-growth-laptop.jpeg")));
    }
  }
}

#section__register {
  &, .h {
    color: $text-bright;
  }
      @include bg-img(true, bg-compose(#{'rgba(#{$black}, .5), '}, '') bg-compose(url("/images/product-growth-tablet.jpeg")));
}

.section__footer {
  background: lighten($black, 5%);
  color: $text-bright;
  .text-link {
    color: darken($text-bright, 10%);
  }
}

.footer-brand {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-height: 100px;
  .brand__ {
    &img {
      max-height: 100px;
      max-width: 100px;
      object-fit: cover;
    }
    &text {

    }
  }
}

.footer-copyright {
  background-color: $brand-secondary;
  color: $text-bright;
  text-align: center;
}